:root{
    --main: #F65C2A;
    --backMain: #121517;
    --second: #F57F41;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Inter";
    font-weight: 500;

}

header{
    color: #FFFFFF;
    width: 100%;
    height: fit-content;
    background-image: url(./assets/headerBackGround.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 2rem;

}
nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 6rem;
    background-color: var(--backMain);
    border-radius:  0 0 20px  20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: fit-content;
    height: 5rem;
}
.nav-links{
    display: flex;
    justify-content: space-around;
}
.nav-links a{
    color: #FFFFFF;
    text-decoration: none;
    margin: 1.2rem;
    padding: 0.2rem;
}

.nav-links a.clicked {
    color: var(--main);
}

#nav-end{
    display: flex;
    align-items: center;
}
.login-btn{
    cursor: pointer;
    color: #FFFFFF;
    outline: none;
    border: none;
    background-color: var(--main);
    padding: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    margin-right: 10px;
}
.header-text{
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.text-part{
    margin-left: 0;
    width: 500px;
    align-items: start;
    font-size: 24px;
}
#ul-headre{
    display: flex;
    justify-content: space-between;
}
#ul-headre li{
    list-style-type: none;

}
#ul-headre li::before {
    color: var(--main);
    content: "•"; /* Custom bullet */
    font-size: 28px; 
    margin: 5px; /* Space between bullet and text */
  }
.rest-items{
    margin-top: -13px;
display: flex;
justify-content: end;
}
.bullets{
    display: flex;
    justify-content: center;
}
.bullet{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: .2rem;
    background-color: white;
    box-shadow:0 4px 2px 3px rgba(128, 128, 128, 0.37) inset;
}
#special-bullet{
    box-shadow: none;
    background-color: var(--main);
}
.short-links{
    padding: 0.5rem 0 0.5rem 0;
    font-weight: bold;
    margin-right: 6rem;
    margin-left: 6rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--main);
    width: 28rem;
    border-radius:  1rem  1rem 0 0 ;
}
.singl-link{
    text-align: center;
}
.trendy-shows{
    padding: 2rem;
    overflow-x: scroll;
    flex-wrap: nowrap;
    display: flex;
    gap: 1rem;
}
.part-control{
    font-size: large;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    font-weight: lighter;
}
.trendy-title{
    font-size: 16px;
    margin: 0.4rem 0 1rem 0;
}
.trendy-text{
    font-size: smaller;
    color: #686666;
}
.trendy-image{
    width: 160px;
    height: 160px;
}
.top-picks{
    margin-top: 2rem;
}
.info-container{
    grid-row-start: 100px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,54%);
    overflow-x: scroll;
    overflow-wrap: break-word;

}
.small-image{
    width: 100px;
    height: 100px;
    margin-right: 1rem;
}
.info-box{
    margin: 0.5rem;
    color: #564C4C;
    border-radius: 1rem;
    padding: 1.2rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
}
#images-part{
    display: flex;
}
#singl-image1{
    width: 50%;
    height: 15rem;
background-image: url('./assets/Rectangle 103.png');
background-size:contain;
background-repeat: no-repeat;
}
#singl-image2{
    width: 50%;
    height: 15rem;
    background-image: url('./assets/Rectangle 18.png');
    background-size:contain;
background-repeat: no-repeat;
}

/*sign up or log in page  */
.parent{
    color: white;
    background-color: var(--backMain);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.image-section{
    width: 50%;
    height: 100%;
    background-image: url('./assets/5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.email-section{
align-content: center;
    text-align: center;
    margin: auto;
}
.recoloring{
    color: var(--main);
}
.email-button{
    cursor: pointer;
margin: 0.8rem auto 0.8rem auto;
    border: 1px solid var(--main);
    border-radius: 0.2rem;
    width: 15rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
/* sign up page */
.signup-parent{
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;

}
.logo-section{
    width: 55%;
    height: 100%;
    background-color: var(--backMain);
    background-image: url('./assets/Logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.orange-div{
    width: 1%;
    height: 100%;
    background-color: var(--main);
}
.info-section{
    margin: auto;
}
.label-signup{
    display: block;
}
.email-styling{
    margin: 0.8rem auto 0.8rem auto;
    border: 1px solid var(--main);
    border-radius: 0.2rem;
    width: 15rem;
    padding: 0.5rem;
    font-size: small;
}
/* verification page */
.verification-nav{
    width: 100%;
    height: 4rem;
    background: linear-gradient(to right,var(--second),var(--main)) ;
}
.parent-verification{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input.num-verification{
    outline: none;
    font-size: 35px;
    caret-color:var(--main);
    font-weight: bold;
    border: none;
    width: 56px;
    height: 71px;
    border-radius: 20px;
    background-color: #E2DDDD;
    text-align: center;
}
input.num-verification:focus{
    border: solid 3px var(--main);
}

#back-img1{
    margin-top: 1rem;
    height: 30%;
    background-image: url('./assets/Component 80.png');
}
#back-img2{
    height: 30%;
    background-image: url('./assets/Component 81.png');
}
#back-img3{
    margin-bottom: -5rem;
    height: 30%;
    background-image: url('./assets/Component 82.png');
}
@keyframes infiniteScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.scrolling-container {
    display: flex;
    width: 200%; 
    animation: infiniteScroll 10s linear infinite;
}

#back-img1, #back-img2, #back-img3 {
    background-size: contain;
    background-repeat: no-repeat;
}

.scrolling-container div {
    flex: 1;
}


.info-fill{
    width: 37%;
    height: fit-content;
    background-color: white;
    position: absolute;
    top: 0;
    left: 32%;
}



.profile-image-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.audio-books{
    display: grid;
    grid-template-rows: repeat(2,7rem);
    grid-template-columns: repeat(4,1fr);
    overflow-x: scroll;
}

.single-audio{
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    width: 347px;
    height: 80px;
    background-color: #e2ddddcb;
    padding: 0.5rem 0.5rem 0.5rem 0.3rem;
    margin: 1rem;
}
.single-audio small{
    font-size: x-small;
    color: #686666;
;
}

.audio-type{
    display: flex;
    justify-content: space-between;
}
.text-audio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}





.about-img{
    border-radius: 1rem;
    width: 20rem; 
    height: 11rem; 
    background-image: url('./assets/Rectangle\ 101.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}




footer{
    background-color: var(--backMain); 
    border-radius: 3rem 3rem 0 0rem; 
    /* height: fit-content; */
    margin-top: 1rem; 
    height: 12rem;
    display: flex;
    gap: 12rem;
}

.footer-links{
    gap: 0.5rem;
    text-align: center;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.footer-links a{
    text-decoration: none;
    color: white;
}

.footer-links1{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 10rem;
    gap: 1rem;
    height: fit-content;
}


/* community style */
.next-nav{
    margin-top: 2rem;
    height: 9rem;

}
#image1-next-nav{
    width: 50%;
background-image: url('./assets/image-comm1.png');
background-size:contain;
background-repeat: no-repeat;
}
#image2-next-nav{
    background-image: url('./assets/image-comm2.png');
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.community-sections{
    display: grid;
    padding: 0 3rem 0 3rem;
    grid-template-columns: repeat(3,1fr);
}
.put-center{
    text-align: center;
}
.orange-line{
    border: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    border: 1px solid var(--second);
}
.news-content{
    border-right: 2px solid #D1D3D4; 
    padding: 1.5rem;
    width: fit-content;
}
.news-content-details{
    margin-top: 1rem;
    /* padding: 1rem; */
    background-color: #D9D9D9;
    border-radius: 1rem;

}

.news-content-box{
    border-bottom: 2px solid var(--backMain);
    padding: 1rem;
    margin-top: 1rem;
    

}
#list-nav{
    width: 20px; 
    height: 20px; 
    filter: invert(1); 
    display: none;
    margin: 1rem;
    cursor: pointer;
}




@media (max-width: 768px) {
    #list-nav{
        display: block;
    }
        .nav-links {
        flex-direction: column; /* Stack items vertically */
        position: absolute;
        top: 6rem;
        left: 0;
        width: 100%;
        background: var(--backMain);
        border-radius: 0 0 20px 20px;
        display: none; /* Initially hidden */
    }

    .nav-links a {
        display: block;
        padding: 1rem;
        text-align: center;
    }
    
    .nav-links.active {
        display: flex;
    }
    .next-nav{
        height: 14rem;
        margin-bottom: 7rem;
    }
    #image1-next-nav{
        display: block;
        height: 100%;
        width: 100%;
    }
    #image2-next-nav{
        display: block;
        width: 100%;
        height: 100%;
        margin-top: -3.85rem;
    }    
    .info-fill{
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        height: fit-content;
    }
    .scrolling-container{
        margin: 0;
        padding: 0;
        display: none;
        background-color: white;
        animation: none;
        width: 0;
        height: 0;
    }
    .parent-verification{
        display: block;
        align-items: center;
        text-align: center;
    }
    #singl-image1,#singl-image2{
        width: 100%;
        background-size: contain;
        background-position: center;
        display: block;
    }
    .info-container{
        display: block;
    }
    .about-section{
        display: block;
    }
    .about-img{
        display: none;
    }
    header,.text-part {
        width: fit-content; 
        font-size: 15px;
    }
    nav{
        justify-content: center;

    }
    .nav-links a{
        margin: 0.2rem;
    }
    .bullet{
        width: 8px;
        height: 8px;
    }
    .short-links{
        margin-right: 4rem;
        margin-left: 4rem;
        width: 23rem;
    }
    #header-image{
        width: 150px;
        height: 150px;
    }
    #images-part{
        display: block;
    }
    .logo-section{
        display: none;
    }
    .image-section{
        display: none;
    }
    .email-section{
        width: 100%;
    }
}





@media (max-width: 900px) {
        footer{
        display: block;
        height: fit-content;
    }
    header,.text-part,.top-picks,.trendy-shows {
        width:100%; 
        font-size: 17px;
        padding-right: 0;
        margin-right: 0;
    }
    .nav-links a{
        margin: 0.5rem;
    }
    .bullet{
        width: 10px;
        height: 10px;
    }
    .text-part{
        margin-left: 0.5rem;
    }
}


@media (max-width: 1400px) {
        footer{
        height: fit-content;
    }
}